@import "../../Commons/variables";

img {
  bottom: 0;
  left: 13%;
  object-fit: contain;
  position: absolute;
}

.content {
  display: flex;
  padding: 6em 15em;
  position: relative;

  .col-6 {
    &.name {
      width: 60%;

      h1 {
        font-size: 4em;
      }

      button {
        background-color: $light-secondary;
        margin-top: 15vh;
      }
    }

    &.description {
      width: 40%;

      h1 {
        margin: 1.67em 0;
      }

      p {
        padding-right: 5em;
      }
    }
  }
}
