@import "../Commons/variables";
@import "../../prefix";

.about-app {
  .block {
    @include prefix(transform, translateZ(9px), webkit ms moz o);
    background: rgb(18, 119, 13);
    background: linear-gradient(
      354deg,
      rgba(18, 119, 13, 1) 0%,
      rgba(73, 225, 66, 1) 100%
    );
    clip-path: polygon(82% 0, 100% 0, 100% 30%, 34% 100%, 0 100%, 0 75%);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .about {
    background-color: $light-primary;
    clip-path: polygon(0 0, 52% 0, 77% 100%, 0% 100%);
    height: 100vh;
    transform-style: preserve-3d;
    position: relative;

    .content {
      @include prefix(transform, translateZ(10px), webkit ms moz o);
      margin: 0 auto;
      position: absolute;
      text-align: center;
      top: 40%;
      left: 0;
      right: 0;
      bottom: 0;
      width: fit-content;

      h1 {
        margin: 0;
      }

      hr {
        border: 3px $light-boundary solid;
        width: 10%;
      }
    }
  }
}

@use '../../media';
