@import "../Commons/variables";
@import "../Commons/template";
@import "../../prefix";

.experience-app {
  @include app;

  .content {
    padding-top: 7vh;

    h1 {
      color: $light-primary-lighter;
    }

    .left {
      min-height: 93vh;

      .exp {
        height: 40%;

        h1 {
          color: $light-boundary;
        }
      }

      .timeline {
        .button-box {
          text-align: center;
        }

        button {
          background-color: $light-primary;
          font-size: 2.5em;
          padding: 5px 0;

          &::before {
            border: 2px $light-secondary-darken solid;
            height: 60px;
          }

          &.show {
            border-radius: 25px;
            font-size: 2em;
            pointer-events: none;
          }

          &.show:hover {
            margin-top: inherit;
          }

          &.show:hover::before {
            top: 10px;
          }

          &.show::before {
            box-shadow: none;
            border-radius: 20px;
            border: 2px $light-primary solid;
            left: -3vw;
            height: 30vh;
            width: 220px;
          }
        }

        .lists-app {
          display: none;

          &.show {
            display: block;
          }

          ul {
            text-align: left;

            li {
              border-bottom: 0;
              cursor: pointer;
              font-size: 1.75em;
              list-style: none;
              width: fit-content;

              &:hover {
                @include prefix(transform, scale(1.1), webkit moz ms o);
                @include prefix(transition, 0.3s linear, webkit moz ms o);
              }

              &.active {
                color: $light-boundary;
                border-bottom: 1px $light-boundary solid;
              }
            }
          }
        }
      }
    }

    .right {
      display: flex;
      overflow-x: hidden;

      .experiences-content-app {
        margin: 0 15px;
        min-width: 100%;

        .img-box {
          position: relative;
          text-align: center;

          img {
            border-radius: 20px;
            height: 20em;
            max-width: 28em;
            object-fit: cover;
          }

          i {
            @include prefix(transform, translateY(-50%), webkit moz ms o);
            @include prefix(transition, 0.3s linear, webkit moz ms o);
            color: $text-light-primary;
            position: absolute;
            top: 50%;

            &:hover {
              @include prefix(transform, scale(1.3), webkit moz ms o);
              top: 48%;
            }

            &.fa-arrow-right {
              right: 0;
            }

            &.fa-arrow-left {
              left: 0;
            }
          }
        }
      }
    }
  }
}
