@import "../Commons/variables";
@import "../Commons/template";

.app {
  @include app;
  background-color: $light-primary;

  footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}
