$blocks: (1, 2, 3);
$block-one: rgb(54, 1, 4);
$block-two: rgb(54, 1, 30);
$dark-primary: rgb(90, 5, 30);
$text-dark-primary: rgb(0, 0, 0);
$light-primary: rgb(228, 221, 127);
$text-light-primary: rgb(51, 56, 54);
